.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
package-lock.json
run.bat
src-tauri/Cargo.lock
/src-tauri/gen
bun.lockb