@font-face {
    font-family: 'SF Pro Display';
    src: url('/src/public/assets/fonts/sf-pro-display/regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/src/public/assets/fonts/sf-pro-display/medium.otf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/src/public/assets/fonts/sf-pro-display/bold.otf');
	font-weight: 900;
	font-style: normal;
}

:root {
	--font-body: 'SF Pro Display', sans-serif;
	--color-bg: #131313;
	--color-text: #FFFFFF;
	--color-text-primary: #FFFFFF80;
	color: var(--color-text);
	font-family: var(--font-body);
	font-weight: 400;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	
	--accent-color: #3EE667;
	--accent-button-color: #65ff8b;
	
	--button-hover-transition: 0.2s;
}

* {
    box-sizing: border-box;
	font-family: var(--font-body);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: transparent;
	overflow: hidden;
}

.main {
	display: flex;
	height: 100vh;
}

.content {
	padding: 50px 50px 50px 150px;
	width: 100%;
	height: 100%;
}

:global(.anim) {
	animation: fadein .75s 0s backwards;
}

.title {
	font-size: 36px;
	font-weight: 600;
}

.description {
	font-size: 20px;
	font-weight: 400;
	
	color: #FFFFFF;
	opacity: 80%;
}

.head {
	display: flex;
	flex-direction: column;
	
	gap: 4px;
}

.contentBlock {
	display: flex;
	flex-direction: column;
	
	gap: 18px;
	height: 100%;
    justify-content: space-between;
}

.launchBlock {
	background-color: #00000015;
	
	border: solid 1px #FFFFFF15;
	border-radius: 20px;
	
	padding: 15px;
	width: max-content;
    margin-left: auto;
}

.launchContent {
	display: flex;
	flex-direction: column;
	
	gap: 15px;
}

.loadButton {
	background-color: var(--accent-color);
	color: black;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 18px;

	font-size: 25px;
	font-weight: 700;

	width: max-content;
	height: 100%;
	cursor: not-allowed;
	transition: var(--button-hover-transition);
	
	position: relative;
	pointer-events: none;
}

.settingsButton {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 18px;

	background-color: #00000025;
	border: solid 1px #FFFFFF10;
	border-radius: 10px;
	cursor: pointer;
	transition: var(--button-hover-transition);
}

.settingsButton:active {
    scale: 95%;
}

.loadGame {
	display: flex;
	gap: 15px;
}

.loadAnimation {
	width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/src/public/assets/svg/bars.svg);
    background-size: 150%;
    animation-name: load-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	border-radius: 9px;
    background-color: rgb(0 0 0 / 72%);
	backdrop-filter: brightness(1.5) saturate(0.5);
	transition: 0.3s;
	opacity: 0;
	pointer-events: none;
	z-index: 2;
	filter: brightness(0.5);
}

@keyframes load-animation {
	0% {
		background-position: 96%;
	}
	100% {
		background-position: 0%;
	}
}