@import url('https://v1.fontapi.ir/css/SFProDisplay');

:root {
	--font-body: 'SF Pro Display', sans-serif;
	--color-bg: #131313;
	--color-text: #FFFFFF;
	--color-text-primary: #FFFFFF80;
	color: var(--color-text);
	font-family: var(--font-body);
	font-weight: 400;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	
	--accent-color: #3EE667;
	--accent-button-color: #65ff8b;
	
	--button-hover-transition: 0.2s;
}

* {
    box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: transparent;
	overflow: hidden;
}

.main {
	display: flex;
	height: 100vh;
}

.content {
	padding: 50px 50px 50px 150px;
	width: 100%;
	height: 100%;
}

:global(.anim) {
	animation: fadein .75s 0s backwards;
}

.title {
	font-size: 36px;
	font-weight: 600;
}

.description {
	font-size: 20px;
	font-weight: 400;
	
	color: #FFFFFF;
	opacity: 80%;
}

.head {
	display: flex;
	flex-direction: column;
	
	gap: 4px;
}

.contentBlock {
	display: flex;
	flex-direction: column;
	
	gap: 18px;
	height: 100%;
    justify-content: space-between;
}

.launchBlock {
	background-color: #00000015;
	
	border: solid 1px #FFFFFF15;
	border-radius: 20px;
	
	padding: 15px;
	width: max-content;
    margin-left: auto;
}

.launchContent {
	display: flex;
	flex-direction: column;
	
	gap: 15px;
}

.loadButton {
	background-color: var(--accent-color);
	color: black;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 18px;

	font-size: 25px;
	font-weight: 700;

	width: max-content;
	height: 100%;
	cursor: pointer;
	transition: var(--button-hover-transition);
}

.loadButton:hover {
	background-color: var(--accent-button-color);
}

.loadButton:active {
    scale: 95%;
}

.settingsButton {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 18px;

	background-color: #00000025;
	border: solid 1px #FFFFFF10;
	border-radius: 10px;
	cursor: pointer;
	transition: var(--button-hover-transition);
}

.settingsButton:active {
    scale: 95%;
}

.loadGame {
	display: flex;
	gap: 15px;
}