@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
	--font-body: 'SF Pro Display', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg: #131313;
	--color-text: #FFFFFF;
	--color-text-primary: #FFFFFF80;
	color: var(--color-text);
	font-family: var(--font-body);
	font-weight: 400;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg);
	background-size: 100vw 100vh;
}

.main {
	display: flex;
	height: 100vh;
}

.content {
	padding: 58px;
}

:global(.anim) {
	animation: fadein .75s 0s backwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(-1.19vw);
	}
}

.title {
	font-size: 36px;
	font-weight: 600;
}