.profileCreatePostDiv {
	width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.profilePostStats {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.profileUsername {
	font-weight: bold;
	font-size: 22px;
	margin: 0px;
}

.profilePost {
	width: 100%;
	height: max-content;
	background-color: #D9D9D909;
	border-radius: 10px;
	padding: 8px 10px 10px 10px;
	grid-gap: 10px;
    display: flex;
    flex-direction: column;
}

.profilePostLikes {
	display: flex;
	grid-gap: 3px;
    align-items: center;
}

.profilePost h3 {
	margin: 0px;
    font-weight: normal;
    word-wrap: break-word;
    font-size: 15px;
    color: #c0c0c0;
}

.profileReplyButton {
	background: #29282c;
    border: none;
    padding: 5px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    transition: 0.2s;
    cursor: pointer;
    border-bottom-left-radius: 5px;
}

.profileReplyButton:hover {
	background: #373A3F;
}

.profilePostTime {
	margin: 0px;
	font-weight: normal;
    opacity: 0.5;
	font-size: 14px;
}