html {
	overflow: hidden;
}
body {
    border-radius: 15px;
    background-color: transparent;
}
button {
	background: none;
	border: none;
}
p {
	/*text-shadow: 0 0 10px black;*/
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	/*text-shadow: 0 0 10px black;*/
}
.h1, h1 {
    font-size: 2.5rem;
	width: 100%;
	color: white;
	text-align: center;
}
.h3, h3 {
    font-size: 1.75rem;
	color: gray;
	font-style: italic;
	font-weight: 400;
}
.play {
    display: flex;
    justify-content: center;
	width: 360px;
	height: 360px;
	background: #3EE667;
	border-radius: 500px;
	box-shadow: 0px 0px 20px 0px black;
	transition: var(--anim-hover);
	cursor: pointer;
}
.playicon {
	/*filter: drop-shadow(0px 0px 3px black);*/
}
.maindiv {
	display: flex;
    flex-direction: column;
    align-items: center;
	height: 100%;
	width: 100%;
}
.play:hover {
	background: #4eff80;
}
#bruh {
	margin-bottom: 16vh;
}
.login {
	position: fixed;
	left: 10px;
    top: 10px;
	cursor: pointer;
	padding: 0px;
}
.form-group {
    margin-bottom: 0.5rem;
}
.dropdown-menu {
	left: 53px;
	top: 15px;
	transition: var(--anim-menu);
}
.btn-primary {
	margin-bottom: 10px;
}
.no-gdps {
	background: #ffcdcd;
}
.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 93%;
  app-region: drag;
}
.titlebar-button,
.titlebar-button-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 3px;
  margin-left: 0px;
  transition: var(--anim-hover);
  cursor: pointer;
  border-radius: 2.5px;
}
.titlebar-button-close {
  border-top-right-radius: 13px;
}
.titlebar-button-close:hover {
  background: #ff8c8c;
  border-top-right-radius: 13px;
}
.titlebar-button-close:hover img {
	filter: invert(1);
	transition: 0.3s;
}
.titlebar-button:hover {
  background: #47494e99;
}
.mahbody {
	background-image: url(cat.png);
    background-position-y: center;
    background-position-x: -115px;
    background-size: 125%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #111111;
}
.prdiv {
	position: absolute;
    bottom: 20px;
    width: 97%;
}
.dl {
	margin-left: 10px;
}
.prtext {
	display: flex;
	justify-content: space-between;
}
.prp {
	width: 100%;
}
.spin {
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
.loading {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    background: #000000;
	border-radius: 15px;
}
.fillbg {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: #00000000;
	transition: var(--anim-settings);
	backdrop-filter: blur(2.5px);
	border-radius: 15px;
}
.loadsvg {
	position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    filter: drop-shadow(0px 0px 3px black);
}
.loginstg {
	display: flex;
	grid-gap: 5px;
	align-items: center;
	cursor: pointer;
}
.settings {
	width: 100%;
	margin-bottom: 10px;
}
.ver {
	display: flex;
    width: 97%;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    left: 10px;
}
.ver h3 {
	font-size: 20px;
	text-shadow: 0 0 5px black;
	color: white;
}
progress::-webkit-progress-value {  
  background: linear-gradient(-90deg, rgba(106,255,115,1) 0%, rgba(0,255,86,1) 100%);
} 
.warnbtn {
	width: 65%;
	display: grid;
	grid-gap: 5px;
	justify-items: center;
}
.warnbtn button {
	font-size: 23px;
}
.warntext p {
	font-size: 22px;
	width: 80%;
}
.loadsvg h1 {
	position: absolute;
	top: 22px;
    width: max-content;
}
.radios {
	color: white;
	display: flex;
    justify-content: space-evenly;
}
.form {
	box-shadow: 0 0 5px 0px #000000aa;
	border-radius: 20px;
}
progress {
  background: #090909;
}
input[type=radio] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  transition: 0.2s all linear;
  margin-right: 5px;
  margin-top: 0px;
  position: relative;
  top: 4px;
  background: #111;
}
input[type=radio]:checked {
  border: 6px solid #fff;
}
.radios span,
.radios span text {
    vertical-align: middle;
}
.notifies {
	margin: 0px;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: #121212;
    padding: 15px 0px 15px 15px;
    border-radius: 30px;
    max-height: 70vh;
    overflow-x: hidden;
    grid-gap: 10px;
    overflow-y: scroll;
}
/*.profile .h1, .profile .h2, .profile .h3, .profile .h4, .profile .h5, .profile .h6,
.profile h1, .profile h2, .profile h3, .profile h4, .profile h5, .profile h6, .profile p,
 .detaileddiv .h1, .detaileddiv .h2, .detaileddiv .h3, .detaileddiv .h4, .detaileddiv .h5, .detaileddiv .h6,
.detaileddiv h1, .detaileddiv h2, .detaileddiv h3, .detaileddiv h4, .detaileddiv h5, .detaileddiv h6, .detaileddiv p {
	text-shadow: 0 0 1px black;
	font-style: normal;
}*/
.profile #comments {
	color: gray;
}
.notifycard {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 7px;
	align-items: center;
	flex-direction: column;
    grid-gap: 15px;
}
.notifyname {
	width: 100%;
    margin: 0px;
    font-size: 25px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
	grid-gap: 2px;
    align-items: flex-start;
}
.notifycomments {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.notifycom {
	justify-content: flex-end;
	grid-gap: 0.5vh;
	margin: 0px;
	width: max-content;
}
.comments {
	margin: 10px 0px 0px 0px;
	overflow-wrap: break-word;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	text-align: right;
	align-items: baseline;
}
.notifycircle {
	filter: invert(30%) sepia(84%) saturate(874%) hue-rotate(324deg) brightness(116%) contrast(85%);
}
.clickformore {
	font-style: italic !important;
}
.detailed {
    width: 100%;
    margin: 0px;
    padding: 0px;
	background: #141414;
	border-radius: 20px;
}
.profile {
	width: auto;
	margin-top: 0px;
	transition: var(--anim-hover);
	cursor: pointer;
}
.loadingnotify {
	margin: 20px 0px;
}
.detaileddiv {
	display: flex;
	width: 100%;
	margin: 15px 0px;
	justify-content: center;
}
.rowcard {
	flex-direction: row;
	width: 95%;
}
.setform {
	margin: 0px;
	width: 69.2vw;
}
.settitle {
    color: white;
    font-weight: 700;
    font-size: 25px;
}
h2 {
	color: #c0c0c0;
	margin: 10px 0px 5px 0px;
}
.notifycountdiv {
	display: flex;
	position: absolute;
	bottom: 10px;
}
.nfcount1 {
	font-size: 15px;
	width: max-content;
	background: #181a1b;
	padding: 10px 5px 10px 10px;
	border-top-left-radius: 500px;
	border-bottom-left-radius: 500px;
}
.nfcount2 {
	font-size: 15px;
	width: max-content;
	background: #181a1b;
	padding: 10px 10px 10px 0px;
	border-top-right-radius: 500px;
	border-bottom-right-radius: 500px;
	transition: var(--anim-hover);
	cursor: pointer;
	color: #c0c0c0;
}
.nfcount2:hover {
	background: #29282c;
}
.nfcircle {
	position: absolute;
    border: 3px solid #111111;
    border-radius: 500px;
    top: -2px;
    left: -5px;
}
.nfgood {
	border-left: 3px solid #bbffbb;
	border-right: 3px solid #bbffbb;
}
.nfbad {
    border-left: 3px solid #ffbbbb;
    border-right: 3px solid #ffbbbb;
}
.nfmiddle {
	border-left: 3px solid #ffffbb;
	border-right: 3px solid #ffffbb;
}
.prp#ploaded {
	text-align: left;
}
.prp#pmax {
	text-align: right;
}
.profile:hover {
	background: #303134;
}
.btn-queue {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: #29282c;
	border-radius: 256px;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	transition: var(--anim-hover);
	cursor: pointer;
}
.btn-queue:hover {
	background: #303134;
	.nfcircle {border: 3px solid #303134;}
}
.queuediv {
	position: absolute;
	right: 10px;
	bottom: 70px;
	display: flex;
	background: #181a1b;
	border-radius: 15px;
	width: 400px;
	height: max-content;
	min-height: 178px;
	z-index: 1;
	transform: translateX(105%);
   transition: var(--anim-queue);
   padding: 7px;
   grid-gap: 5px;
   flex-direction: column;
}
.queuediv.show {
	transform: translateX(0%);
}
.queuelist {
	height: max-content;
	background: #121212;
	padding: 7px;
	border-radius: 10px;
	display: flex;
   align-items: center;
   grid-gap: 5px;
   position: relative;
}
.queuename {
	display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   grid-gap: 2px;
}
.queuename h2 {
	font-size: 13px;
	margin: 0px;
	display: flex;
}
.queuename h3 {
	font-size: 13px;
	margin: 0px;
}
.queuename progress {
	margin: 0px;
	height: 10px;
}
.btn-queue-menu {
	background: #29282c;
	border-radius: 256px;
	width: 30px;
   height: 30px;
	display: flex;
	justify-content: center;
	transition: 0.2s;
	cursor: pointer;
	align-items: center;
}
.btn-queue-menu img {
	width: 14px;
}
.queuebtns {
	display: flex;
    align-items: center;
    grid-gap: 3px;
}
.btn-queue-menu:hover {
	background: #303134;
}
.btn-queue .nfcircle {
  top: 7px;
  left: 4px;
  border: 3px solid #29282c;
  transition: 0.2s;
}
.queuediv h4 {
    color: gray;
    width: 96.5%;
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 7px;
    margin: 0px;
    font-style: italic;
}
.qcircle {
	border: 3px solid #121212;
   border-radius: 500px;
}
.queuebtns .dropdown-menu {
   right: 0px;
   left: auto;
   bottom: 50px;
   top: auto;
   padding: .5rem 0;
   background: #29282c;
	width: 93%;
	transition: var(--anim-menu);
	transform: translateX(120%);
}
.queuebtns .dropdown-item {
	display: flex;
   align-items: center;
   width: 92%;
}
.queuebtns .dropdown-item .icon {
	background: #141414;
}
.queuebtns .dropdown-menu.mods {
   bottom: 75px;
}
.setdiv {
	margin: 0px;
   width: 77vw;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   align-items: center;
   background: #121212;
   padding: 15px 0px 15px 15px;
   border-radius: 30px;
   overflow: hidden;
   overflow-y: scroll;
	grid-gap: 15px;
	height: 70vh;
	position: relative;
}
.slider {
   -webkit-appearance: none;
   appearance: none;
   width: 100%; 
   height: 10px; 
   background: #121212; 
   outline: none; 
   -webkit-transition: .2s; 
   transition: opacity .2s;
	border-radius: 999px;
}
.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 15px;
   height: 15px;
   background: #fff; 
   cursor: pointer;
	border-radius: 999px;
}
::-webkit-scrollbar-thumb {
    background-color: #373A3F;
    border-radius: 100px;
    border: 4px solid #121212;
}
.sliders {
	justify-content: space-between;
	grid-gap: 7px;
	align-items: center;
}
.nointernet {
	opacity: 0;
	visibility: hidden;
	transition: var(--anim-settings);
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 10px;
}
.nointernet .btn-primary {
	width: max-content;
	font-size: 30px;
   padding: 14px 40px;
   visibility: hidden;
}
.settings-menu {
	display: flex;
	width: 79vw;
	justify-content: flex-start;
   align-items: center;
   transition: var(--anim-pages);
}
.settings-menus {
	display: flex;
	justify-content: flex-start;
   align-items: center;
   grid-gap: 79vw;
}
.settings-menu.first {
	transform: translateX(0%);
}
.settings-menu.second {
	transform: translateX(-200%);
}
.settings-buttons button {
	color: #c0c0c0;
	font-size: 18px;
	display: grid;
	grid-gap: 1.5px;
	transition: var(--anim-pages);
	cursor: pointer;
}
.settings-buttons {
	margin-bottom: 8px;
	display: flex;
	grid-gap: 5px;
}
.settings-buttons button span {
	background: #787878;
	width: 100%;
	height: 2px;
   display: block;
   border-radius: 500px;
   transition: var(--anim-pages);
}
.settings-buttons button.first.active, .settings-buttons button.second.active {
	color: white;
	font-weight: 700;
}
.settings-buttons button.first.active span ,.settings-buttons button.second.active span {
	background: #3EE667;
	height: 3px;
}
.loginstg:hover p {
	color: white;
}
.loginstg p {
	transition: var(--anim-hover);
}
.settings-buttons button:hover {
	color: white;
	transition: var(--anim-hover);
}
.profilepic {
	font-size: 19px;
	margin: 0px;
	width: max-content;
	display: flex;
    grid-gap: 5px;
    align-items: center;
}
.profilestats {
	display: flex;
	width: 100%;
	height: max-content;
	align-items: center;
	justify-content: space-around;
}
.profileposts {
	overflow-wrap: anywhere;
   display: flex;
   border-radius: 30px;
   flex-wrap: wrap;
   height: max-content;
   width: 100%;
   background: #141414;
   padding: 10px;
   grid-gap: 10px;
}
.profileform {
	grid-gap: 7px;
	padding: 7px 20px 10px 20px;
}
.profilenick {
	margin: 0px;
}
.profilepost {
	padding: 10px 13px;
   width: 100%;
   border-radius: 20px;
   background: #29282c;
   grid-gap: 10px;
   display: flex;
   flex-direction: column;
}
.profilepoststats {
	display: flex;
	align-items: center;
}
.profilemsg {
	margin: 0px;
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
	font-style: normal;
	color: #c0c0c0;
}
.post {
	margin: 0px;
	font-size: 13px;
}
.blockview {
	position: absolute;
   top: 0px;
   left: 0px;
   background: #0000009c;
   width: 97%;
   height: 93%;
   margin: 15px 0px 15px 15px;
   border-radius: 15px;
    backdrop-filter: blur(2px);
	display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
	z-index: 1;
}
.blockview h1 {
	position: static;
}
.queuebtns .dropdown-menu.show {
	transform: translateX(0%);
}
.slider-span {
	width: 84%;
   display: flex;
   align-items: center;
}
.clickable {
	cursor: pointer;
}
.diff-icon {
	width: 100px;
	margin: -10px;
}
.title-button {
	app-region: none;
}
.icon-kit {
	display: flex;
	width: 100%;
	height: max-content;
	justify-content: space-between;
	margin-top:10px;
	align-items: center;
	border-radius: 20px;
}
.icon-kit-icon {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.icon-kit-div {
   width: 20%;
   display: flex;
   align-content: center;
   justify-content: center;
}
.icon-ship {
	height: 25px;
}
.icon-wave {
	height: 25px;
}
.icon-cube,
.icon-ball,
.icon-ufo,
.icon-robot,
.icon-spider,
.icon-swing,
.icon-jetpack {
	height: 35px;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.btn-reply {
	width: max-content;
	padding: 7px;
}
.profilepostwithreply {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 10px;
}
.profilereplies {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-gap: 5px;
}
.profilereplies .profilepost {
	background: none;
	padding: 10px;
}
.reply-input {
	border: none;
    border-radius: 20px;
    background: #201f23;
}
.reply-div {
	display: flex;
    align-items: center;
    grid-gap: 5px;
    width: 95%;
}
.reply-div input {
	width: 100%;
}