.profileBlock {
    display: flex;
    width: 100%;
	height: 100%;
	border-radius: 20px;
	padding: 15px;
}

.head {
    display: flex;
    gap: 10px;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.usernameDiv {
	display: flex;
	height: max-content;
	width: max-content;
	justify-content: flex-start;
	grid-gap: 10px;
	background-color: #D9D9D909;
	border-radius: 15px;
	padding: 6px 8px 6px 6px;
}

.usernameDiv h1 {
	height: max-content;
	margin: 0px;
	font-weight: bold;
	font-size: 35px;
	line-height: 0.8;
}

.profileStatsDiv {
	display: flex;
    grid-gap: 5px;
	width: 100%;
	border-radius: 15px;
	padding: 7px;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.profileStat {
	display: flex;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: max-content;
}

.iconKitIcon {
   display: flex;
   justify-content: center;
}

.iconSmall {
	height: 30px;
}

.iconBig {
	height: 35px;
}

.profilePostsDiv {
	height: 100%;
	align-items: flex-start;
	padding: 10px;
	overflow-y: hidden;
	flex-direction: column;
	justify-content: flex-start;
	grid-gap: 10px;
	overflow-x: hidden;
	background-color: #D9D9D909;
}

.hideSkeleton .profilePostsDiv {
	padding: 10px 0px 10px 10px;
	overflow-y: scroll;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #373A3F;
    border-radius: 100px;
    border: 2.5px solid #1A1A1A;
}

::-webkit-scrollbar {
	width: 10px;
  	border-radius: 500px;
}

.skeletonSpan {
	display: block;
    background: linear-gradient(90deg, rgb(32 32 32) 0%, rgb(35 35 35) 50%, rgb(32 32 32) 100%);
    border-radius: 500px;
	transition: 0.3s;
    animation: skeleton-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-size: 50%;
    animation-timing-function: linear;
	pointer-events: none;
}

.usernameSkeletonDiv {
	display: flex;
	justify-content: center;
	position: relative;
	pointer-events: none;
}

@keyframes skeleton-animation {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

.hideSkeleton .skeletonSpan,
.hideSkeleton .profileHeaderSkeleton {
	opacity: 0;
}

.usernameSkeletonSpan {
	width: 250px;
    height: 30px;
	position: absolute;
    top: -5px;
}

.profileStatsSkeleton {
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    grid-gap: 5px;
    justify-content: space-around;
    padding: 5px;
	background-color: #D9D9D909;
	border-radius: 15px;
}

.profileStatsSkeletonSpan {
    width: 100%;
    height: 100%;
}

.profileIconsSkeletonSpan {
	border-radius: 10px;
    width: 100%;
    height: 100%;
}

.profilePostsSkeleton {
	position: absolute;
    width: 100%;
    height: 142%;
    display: flex;
    grid-gap: 10px;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 2;
	pointer-events: none;
}

.hideSkeleton .profilePostsSkeleton {
	padding: 10px 0px 10px 10px;
}

.mainIcon {
	max-height: 72px;
    display: flex;
    justify-content: flex-start;
    width: 77px;
}
.mainIcon img {
	height: 100%;
}

.usernameDiv h2 {
	font-weight: 400;
	margin: 0px;
	font-size: 20px;
	color: #c0c0c0;
}

.mainUsername {
	display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 7px;
}

.profileHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.headerIcons {
	width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
	background-color: #D9D9D909;
    padding: 7px;
    border-radius: 15px;
}

.profileHeaderSkeleton {
	position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    z-index: 2;
    border-radius: 15px;
	display: flex;
    grid-gap: 20px;
	transition: 0.3s;
}

.profileIconsDivSkeleton {
	width: 71%;
}

.profileHeaderSkeleton .profileIconsSkeletonSpan {
	border-radius: 15px;
}