.sidebar {
    padding: 0px;

	width: 100%;
	
	bottom: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #00000015;
	border-top: solid 1px #FFFFFF20;
	
	backdrop-filter: blur(5px);
	
	position: fixed;
	z-index: 15;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: fit-content;
	height: fit-content;
	padding: 17px;
	width: 100%;
	border-radius: 15px;

    transition: var(--button-hover-transition);
}

.button:active {
    scale: 95%;
}

.buttonsSidebar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	grid-gap: 25%;
}

.button svg {
    transition: all .15s;
}

.active {
    stroke: var(--accent-color); 
}

.loadButton {
	background-color: var(--accent-color);
	color: black;
	border-radius: 1000px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 25px;
	padding-bottom: 20px;

	font-size: 25px;
	font-weight: 700;

	width: max-content;
	height: 100%;
	cursor: not-allowed;
	transition: var(--button-hover-transition);
	
	position: relative;
	pointer-events: none;
}

.positionButton {
	position: fixed;
	bottom: -17px;
}

.positionPlayIcon svg {
	margin: 0px 5px 10px 5px;
}

/*
	Mica theme
*/

[launcher-theme="mica"] .sidebar {
	background-color: #00000000;
	border-right: solid 1px #FFFFFF00;
}

[launcher-theme="mica"] .button {
	background-color: #D9D9D914;
}

[launcher-theme="mica"] .button:hover {
	background-color: #D9D9D924;
}